@import "../../styles/index";

.dataGraphComponent {
    color: $text-primary-color;
    padding: 6px 18px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    .graphContainer {
        overflow-x: scroll;
    }
    .dataNotFoundDiv {
        padding: 20px 0;
        color: $secondary-color;
        div {
            padding: 10px 0;
        }
    }
}
